.palta-carrusel {
  width: 100%;
}
/* .palta-carrousel > img {
  width: 500px !important;
}
 */
.palta-carrousel-control {
  filter: brightness(0);
}

.detail-bg {
  background-color: #fff;
  width: 90%;
}

.detail-bg img {
  width: 600px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .detail-bg img {
    width: 100%;
    height: auto;
  }
}
