.palta-color {
  background-color: #568203 !important;
}

.palta-btn {
  background-color: #568203 !important;
  color: #fff !important;
}

.palta-btn:hover {
  background-color: #68911d !important;
  color: #fff !important;
}
